<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.aria2android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- aria2 service -->
        <service android:name=".aria2Service" />

        <!-- Preferences Activity -->
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Logs Activity -->
        <activity
            android:name=".LogsActivity"
            android:parentActivityName=".PreferencesActivity" />
    </application>

</manifest>